body {
    background-color:cornflowerblue;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 0.15rem;
}

.collapse li {
    margin: 0px 10px;
}

.form-section {
    margin: 7% 15%;
    display: block;
    padding: 1.5% 5%;
    border : 0.1px solid grey;
    background-color: #212529;
    border-radius: 1rem;
}

 button {
    padding: 7px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin: auto;
    margin-top: 10px;
}

input[type = "text"] {
    border-radius: 100px;
}

textarea {
    border-radius: 100px;
}


.content-container {
    margin: 2% 15%;
    background-color: #212529;
    padding: 2.5%;
    border-radius: 1rem;
    color: white;
}

.content-container > h4 , .content-container > h6 {
    text-align: center;
}

.output  {
    padding: 1.5%;
}

#text {
    width: 100rem;
}

th {
    width: 20rem;
    text-align: -webkit-match-parent;
    text-align: center;
}

td {
    padding: 2%;
    width: 20rem;
    text-align: -webkit-match-parent;
    text-align: center;
}

footer {
    position : absolute;
    top: 98%;
    text-align: center;
    margin: auto;
    background-color: #212529;
    color: white;
    width: 100%;
}

footer h5 {
    font-size: 1em;
}

.input-section {
    display: flex;
    justify-content : space-evenly; 
    margin: 0px 2.5% 0.5% 2.5%;
}

#submit-btn {
    text-align: unset;
}

@media screen and (max-width : 900px) {
    .form-section {
        margin: 20% 5%;
        border: none;
    }

    .covid-img {
        width: 0px;
    }

    .content-container {
        margin : 15% 0.25em;
        /* display: flex; */
        border : none;
        border-radius: 0px;
    }

    .form-section {
        margin: 25% 0.25em;
        border-radius: 0px;
    }

    body {
        background-color: wheat;
    }

    .input-section {
        background-color: wheat;
        margin: 0.1em;
    }

    footer h5 {
        font-size: 1em;
    }

    table td {
        /* margin: auto; */
        width: 15em;
        border:1px solid;
        overflow: scroll;
    }

    table {
        /* border: 1px solid; */
    }

}